.AddProperty {
	display: flex;
	padding: 20px;
	justify-content: space-around;
}
form {
	padding: 10px;
	display: flex;
	flex-direction: column;
}
input {
	position: relative;
	width: 50%;
	padding: 12px 12px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #764971;
	font-family: 'Lexend Deca', sans-serif;
}

select {
	width: 50%;
	padding: 12px 12px;
	border: 2px solid #764971;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: 'Lexend Deca', sans-serif;
}

button {
	background-color: #764971;
	color: white;
	padding: 12px 12px;
	margin: 4px 2px;
	cursor: pointer;
	font-family: 'Lexend Deca', sans-serif;
}
