alert {
	padding: 10px;
	display: flex;
	justify-content: center;
}

.Alert.failure {
	color: red;
	background-color: pink;
	border: 2px red solid;
}

.Alert.success {
	color: green;
	background-color: palegreen;
	border: 2px green solid;
}
