
    body {
        font-family:  'Lexend Zetta', sans-serif;
        background-color: grey;
        margin: 0;
        padding: 0;
    }
    button {
        font-family:  'Lexend Zetta', sans-serif;
    }