.NavBar {
	display: flex;
	align-items: center;
	background-color: white;
	border-bottom: grey;
}

.logo {
	border-image: url('../images/logo.png');
	height: 75px;
	padding: 0px;
}

#sitename {
	font-size: 500%;
	color: white;
}
.nav {
	margin: 0;
	padding: 0;
}
.item {
	margin: 0;
	padding: 0;
}
button {
	cursor: pointer;
	color: white;
	background-color: steelblue;
}
button:hover {
	color: black;
	background-color: white;
}
